spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/oneapp?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1234
    schema: classpath:schema.sql
    data: classpath:data.sql
    sql-script-encoding: utf-8
  jpa:
    database: mysql
    show-sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: none
  batch:
    jdbc:
      initialize-schema: always